.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 400px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 5px;
  color: black;
}

button {
  padding: 10px 20px;
  background-color: darkorange;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #444444;
  position: relative;
}

button:disabled::before {
  content: "The form is not valid.";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s,
    visibility 0.2s;
}

button:disabled:hover::before {
  opacity: 1;
  visibility: visible;
}

.invalid {
  color: red;
}
